/workspace.xml
/tasks.xml
/gradle.xml
/assetWizardSettings.xml
/dictionaries
/libraries
/caches
/kannotator.xml
/modules.xml
/encodings.xml
/*.iml
/modules
/codeStyles
/saveactions_settings.xml
/shelf
/.name
/markdown-navigator.xml
/markdown-navigator
